.search-bar {
  @include flex(row, flex-start, center, 0px);
  flex: 1;
  gap: 10px;
  height: 42px;
  max-width: 100%;
  overflow: hidden;
  padding: 4px 13px;
  padding-left: 12px;
  border-radius: 10px;
  // border: $border-2d;
  background: $neutral-80;

  input {
    flex: 1;
    height: 26px;
    border: none;
    outline: none;
    font-size: 15px;
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
    &::placeholder {
      color: $neutral-900;
    }
  }
  &__shortcut {
    @include flex(row, center, center, 0px);
    height: 22px;
    font-size: 10px;
    padding: 0px 8px;
    color: $light-300;
    border-radius: 6px;
    text-transform: uppercase;
    background: rgba($color: #fff, $alpha: 0.1);
  }
  &__icon {
    aspect-ratio: 1;
    color: $neutral-800;
    border-radius: 28px;
    @include flex(row, center, center, 0px);
  }
}
