.create-token {
  @include flex_col(20px);
  flex: 1;
  width: 100%;
  padding: 0px 0px;
  min-height: 514px;

  .add-plan-btn {
    @include flex(row, center, center);
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #2d2d2d;

    right: 0px;
    bottom: 6px;
    position: absolute;
  }

  .subscription-plans {
    @include flex_col(8px);
    width: 100%;
    .subscription-plan {
      @include flex(row, center, center);

      .remove-plan--btn {
        @include flex(row, center, center);
        flex: none;
        height: 30px;
        padding: 0px 6px;
      }
    }
  }
}
