.home {
  @include flex_col(3vh);
  width: 100%;

  @include tablet {
    gap: 1.5vh;
  }

  // HEADER SECTION
  .home-header {
    @include flex(column, center, center, 34px);
    width: 100%;
    padding-left: $padHor;
    padding-right: $padHor;
    padding-top: clamp(14vh, 12vw, 150px);
    padding-bottom: clamp(0px, 5vw, 86px);

    &__main {
      color: $white;
      color: $white;
      font-weight: 500;
      line-height: 100%;
      text-align: center;
      font-size: clamp(38px, -6.6px + 9.7vw, 120px);
    }

    .create-token-btn {
      @include flex(row, flex-start, center, 12px);
      flex: none;
      cursor: pointer;
      overflow: hidden;
      color: $background;
      background: $white;
      padding: 14px 26px;
      border-radius: 16px;
      border: 1px solid #222;

      color: $white;
      background: #1b1b1b;
      border: 1px solid rgba($color: $primary, $alpha: 0.1);
    }
  }

  // TOKENS
  .tokens-list {
    $col: 4;
    $gap: 10px;

    @include flex_col(20px);
    margin: 70px 0px;
    padding: 1px $gap;

    .tokens-topbar {
      @include flex(row, space-between, center);
      bottom: 0px;
      width: 100%;
      top: $trendbar-h;
      position: sticky;
      padding: 14px $gap;
      background: $background;

      .nav {
        @include flex(row, flex-start, center);
        gap: 20px;

        .nav-btn {
          @include flex(row, center, center);
          gap: 10px;
          width: 40px;
          cursor: pointer;
          aspect-ratio: 1/1;
          border-radius: 50%;
          color: $neutral-200;
          border: 1px solid $neutral-200;

          &[data-active="true"] {
            color: $light-100;
            border-color: $light-100;
          }
        }
      }
    }

    .tokens-grid {
      @include flex(row, flex-start, flex-start, $gap);
      width: 100%;
      flex-wrap: wrap;

      .token {
        @include flex_col(20px);
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        padding: 10px 14px 24px;
        background: $neutral-180;
        width: calc((100% / #{$col}) - ($gap * ((#{$col} - 1) /#{$col})));

        &-image {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 8px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-details {
          @include flex(column, space-between, flex-start, 10px);
          width: 100%;
          font-size: 14px;
          font-weight: 500;

          &--info {
            @include flex_col(6px);

            .stats {
              @include flex(row, flex-start, flex-start, 14px);
              width: 100%;
              margin-bottom: 5px;
              color: $neutral-700;

              .stat {
                @include flex(row, flex-start, flex-start, 6px);
                font-weight: 500;

                .label {
                  color: rgba($color: $primary, $alpha: 0.7);
                  color: $neutral-800;
                }
                .value {
                  color: $secondary;
                  color: $positive-600;
                  // &.market-cap {
                  //   color: $positive-600;
                  // }
                }
              }
            }

            .name {
              // font-size: 15px;
              color: $white;
              font-weight: 500;
            }
            .description {
              color: $neutral-900;
            }
          }
        }

        &.load-more {
          background: $primary;
        }
      }
    }

    // RESPONSIVE
    @include desktopSm {
      $col: 3;
      $gap: 10px;

      .tokens-grid {
        .token {
          width: calc((100% / #{$col}) - ($gap * ((#{$col} - 1) /#{$col})));
        }
      }
    }

    @include laptop {
      $col: 2;
      $gap: 10px;

      .tokens-grid {
        .token {
          width: calc((100% / #{$col}) - ($gap * ((#{$col} - 1) /#{$col})));
        }
      }
    }

    @include tabletSm {
      margin: 50px 0px 20px;

      .tokens-topbar {
        gap: 14px;
        flex-direction: column;
        align-items: flex-start;
        .search-bar {
          flex: none;
          width: 100%;
          max-width: 100% !important;
        }
      }

      .tokens-grid {
        flex-direction: column;
        .token {
          width: 100%;
        }
      }
    }
  }
}
