.home {
  @include flex_col(3vh);
  width: 100%;
  padding-bottom: 10vh;

  .tokens-grid {
    $col: 5;

    @include flex(row, flex-start, flex-start, 1px);
    width: 100%;
    flex-wrap: wrap;
    margin: 70px 0px;
    padding: 1px 0px;
    background: #282828;

    .token {
      @include flex_col(20px);
      width: calc((100% / #{$col}) - (1px * ((#{$col} - 1) /#{$col})));
      aspect-ratio: 0.8;
      background: $background;
      padding: 10px;

      &-image {
        flex: 1;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:last-child {
        background: #ddbdea;
        // background: #e0c8b2;
      }
    }
  }

  .trending {
    @include flex_col(20px);
    width: 100%;
    height: 100%;
    margin: 40px 0px 70px;
    padding: 1px 0px;

    .trending-projects {
      @include flex(row, flex-start, flex-start, 24px);
      width: 100%;
      overflow: hidden;

      &--inner {
        @include flex(row, flex-start, flex-start, 20px);

        .project {
          @include flex(row, flex-start, flex-start, 12px);
          flex: none;
          overflow: hidden;
          padding: 16px 24px;
          border-radius: 20px;
          background: #1b1b1b;
          border: 1px solid #2d2d2d;

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }
      }

      &--row2 {
        .trending-projects--inner {
          margin-left: -120px;
        }
      }
    }
  }
}
