.c-topbar {
  @include flex(row, space-between, center);
  flex: none;
  width: 100%;
  font-size: 14px;
  height: $topbar-h;
  padding: 0px $padHor;
  border-bottom: $border-1;

  &__connect {
    @include flex(row);
  }

  &__btns {
    @include flex(row);
    gap: 6px;

    .c-topbar__btn {
      @include flex(row);
      gap: 6px;
      cursor: pointer;
      padding: 7px 10px;
      border-radius: 6px;

      &:hover {
        background: $neutral-100;
      }
    }
  }
}
